<h1>Signup!</h1>

<form class="large-6 large-offset-3" data-bar="baz" action="/users" accept-charset="UTF-8" method="post">

	<input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  Name: <input type="text" name="user[name]" id="user_name">
  Email: <input type="text" name="user[email]" id="user_email">
  Password: <input type="password" name="user[password]" id="user_password">
  Password Confirmation: <input type="password" name="user[password_confirmation]" id="user_password_confirmation">

  Summoner Name: <input type="text" name="summoner_name" id="summoner_name">

  <input type="submit" name="commit" value="Submit">

</form>

<%= form_tag '/login', :class => 'large-6 large-offset-3' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>